{% extends "base.html" %}

{% block content %}
    <div class="graph">
      <h4>{{ title}}</h4>
      <h5>Current Readings:
      <ul>
        {% for key, value in currentReadings.items() %}
	<li>{{ key }}: {{ value|e }}</li>
        {% endfor %}
        <li><div id="pressure-trend" class="trend"></div></li>
      </ul></h5>
      <h5>Current Pi Temp: {{currentPiTemp }}</h5>
  <input type="range" min="1" max="168" value="48" id="hoursSlider">
	<span id="hoursLabel">24 hours</span>
   <button id="prevDay">◀ Previous Day</button>
   <button id="nextDay">Next Day ▶</button> 



  
	<div id="graph"></div>

	<script src="https://cdn.plot.ly/plotly-3.3.0.min.js"></script>
	<script src="{{ url_for('website.static', filename='graph.js') }}"></script>
    </div>
{% endblock %}
