{% extends "base.html" %}

{% block content %}
    <div class="graph">
      <h4>{{ title}}</h4>
      <h5>Current Readings:
      <ul>
        {% for key, value in currentReadings.items() %}
	<li>{{ key }}: {{ value|e }}</li>
        {% endfor %}
      </ul></h5>
      <h5>Current Pi Temp: {{currentPiTemp }}</h5>
      <img src="data:image/png;base64, {{ graphImageData }}" alt="Temperature Graph" height="600" width="1000"> 

      <div class="graph-controls">
        <form action = "/mpl" method = "POST">
          <p>Text field <input type = "text" name = "date_range" /></p>
          <input type="radio" name="region" value="2"> 2 Hours <br/>
          <input type="radio" name="region" value="4"> 4 Hours <br/>
          <input type="radio" name="region" value="12"> 12 Hours <br/>
          <input type="radio" name="region" value="24"> 24 Hours <br/>
          <input type="radio" name="region" value="48"> 48 Hours <br/>
          <input type="radio" name="region" value="72"> 72 Hours <br/>
          <input type="radio" name="region" value="168"> 1 Week<br/>
          <input type="radio" name="region" value="336"> 2 Weeks<br/>
          <input type="radio" name="region" value="720"> 30 days<br/>
          <p><input type = "submit" value = "Redraw" /></p>
        </form>
      </div>
    </div>

{% endblock %}
