aniso8601
click
cycler
Flask
Flask-RESTful
fonttools
importlib-metadata
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
Pillow
pyparsing
python-dateutil
pytz
scipy
six
uWSGI
Werkzeug
zipp
